<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest Posts</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Latest Posts</h1>
    </header>
    <section>
        {{#each posts}}
        <div class="post">
            <h2>{{this.title}}</h2>
            <p>Posted by: {{this.User.username}}</p>
            <p>{{this.content}}</p>

            <div class="comments">
                {{#each this.Comments}}
                <div class="comment">
                    <p>Comment by: {{this.User.username}}</p>
                    <p>{{this.content}}</p>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </section>
</body>
</html>
